<div class="message_item">
  <div class="row">
    <div class= "col-md-1">
      <%= image_tag message.user.find_avatar.try(:picture_url, :cover) %>
    </div>

    <div class="col-md-10">
      <small> 
        <%= link_to message.user.try(:name), "#" %> /   
        <%= time_ago_in_words(message.created_at) %> 前发布
        </small>

      <div>
        <%= markdown(message.content) %>
        <% if current_user?(message.user) %>
          <%= link_to "修改", edit_product_message_path(@product, message) %>
          <%= link_to "删除", product_message_path(@product, message), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
