<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product" class="container_box">
      <%= render 'shared/product_head' %>
      <div id="messages_item_info">
        <h4>修改留言</h4>
        <hr>
        <%= form_for(@message, url: product_message_path(@product, @message), method: :patch, html: {class: "form-horizontal message_modify_form"}) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <div class="col-sm-5">
              <%= f.text_area :content, size: "40x5", class: "form-control" %>
              <span class="help-block"><em>不超过250个字</em></span>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "确认提交", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>