<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product" class="container_box">
      <%= render 'shared/product_head' %>
      <div id="messages_item_info">
        <h3>
          <i class="fa fa-comment-o"></i>
          评论
          <small id="message_count_prompt">
            <%= render partial: "shared/message_count_prompt", locals: { message_count: @product.messages_count, messages: @messages } %>
          </small>
        </h3>
        <hr>
        <div id="all_messages">
          <%= render partial: 'message', collection: @messages %>
        </div>
        <%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
        <%= render 'messages/form' %>
      </div>
    </div>
  </div>
</div>
