<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <%= form_tag sessions_path do %>
        <div class="form-group">
          <%= label_tag :email, "邮箱", class: "control-label col-sm-1" %>
          <%= text_field_tag :email, "", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :passowrd, "密码", class: "control-label col-sm-1"%>
          <%= password_field_tag :password, "", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= check_box_tag :remember_me, nil, false, :tabindex => 3 %>
          记得我？
        </div>

        <div class="form-group">
          <%= submit_tag "Sign in", class: "btn btn-default btn-primart" %>
        </div>
      <% end %>
    </div>
  </div>   
</div>
