<%= form_tag sessions_path, class: "form-signin" do %>
  <h2 class="form-signin-heading">请登录</h2>

  <%= text_field_tag :email, "", class: "form-control", placeholder: "邮箱" %>
  <%= password_field_tag :password, "", class: "form-control", placeholder: "密码" %>

  <label class="checkbox">
    <%= check_box_tag :remember_me, nil, false %>
    记得我？
  </label>

  <%= button_tag class: "btn btn-lg btn-primary btn-block", type: :submit do %>
    <i class="fa fa-sign-in"></i> 
    登录
  <% end %>
<% end %>
