<li id="<%= feed_item.id %>">
  <span>
    <%= feed_item.user.name %>:
  </span>
  <span><%= feed_item.content %></span>
  <span>
     <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "删除", destroy_message_admin_evaluate_path(message_id: feed_item), method: :delete %>
  <% end %>
</li>
