<div class="page-header">
  <h2>
    产品评测管理
    <small class="pull-right"><%= link_to "创建新评测", new_admin_evaluate_path, class: "btn btn-primary" %></small>
  </h2>
</div>
<%= paginate @evaluates %>
<table class="table table_hover">
  <thead>
    <tr>
      <th>标题</th>
      <th>评测产品</th>
      <th>评测用户</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluates.each do |evaluate| %>
     <tr>
      <td><%= link_to evaluate.title, admin_evaluate_path(evaluate) %></td>
      <td><%= evaluate.product.try(:name) %></td>
      <td><%= evaluate.user.try(:name) %></td>
      <td>
        <%= link_to "编辑", edit_admin_evaluate_path(evaluate), class: "btn btn-primary btn-sm" %>
        <%= link_to "删除", admin_evaluate_path(evaluate, page: params[:page]), class: "btn btn-danger btn-sm", date: { confirm: "请问您确定要删除吗？" }, method: :delete %>
      </td>
    </tr>
  <% end %>
 </tbody>
</table>
<%= paginate @evaluates %>