<div class="page-header">
  <h2>
    <%= @evaluate.title %>
  </h2>
</div>

<div class="word_center">
  产品：<%= @evaluate.product.try(:name) %>
  <br>
  评测者：<%= @evaluate.user.try(:name) %>
  <br>
  创建时间：<%= @evaluate.created_at.strftime "%Y-%m-%d %H:%M:%S" %>
</div>

<div class="evaluates_content">
  <%= sanitize(@evaluate.details) %>
</div>
<hr>
<%= render 'message_form' %>
<hr>
<%= render 'feed' %>
