<%= render 'add_user_picture_modal' %>
<div class="row">
  <div class="col-md-2">
    <p class="lead"><small>头像管理</small></p>
      <div class="col-sm-8">
        <div class="list-group">
          <i class="glyphicon glyphicon-floppy-open"></i>
          <%= link_to "添加图片", "#add_user_picture_modal", class: "list-group-item",  "data-toggle" => "modal" %>
        </div>
      </div>
  </div>
  <i class="glyphicon glyphicon-heart-empty"></i>
    <%= current_user.feed.any? ? "我的图片" : "还没图片？，赶紧上传吧!" %>  
  <hr>
  <div class="col-md-10">
    <% current_user.feed.each do |user_picture| %>
      <div class="col-xs-5 col-sm-2 col-md-3">
        <div class="thumbnail">
          <div class="product_picture">
            <%= image_tag user_picture.picture_url(:mini) %>
          </div>
          <div class="caption">
            <%= link_to_if current_user.cover_id == user_picture.id, "已设为头像", "#", class: "btn btn-primary btn-xs disabled" do %>
              <%= link_to "设置为头像", setting_cover_account_path(cover_id: user_picture.id), class: "btn btn-info btn-xs", method: :patch %>
            <% end %>
            <%= link_to "删除", account_user_picture_path(user_picture), class: "btn btn-danger btn-xs", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
<%= content_for :sidebar do %>
  <%= render 'layouts/shared/user_them' %>
<% end %> 