<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>
<div class="container">
     <div class="col-md-4">
     </div>
     <div class="col-md-4">
  <%= form_for(@admin) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
     <div class="form-group">
      <%= f.label :name, class: "control-label col-sm-1" %>
      <%= f.text_field :name, class: "form-control"  %>
     </div>

     <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-1" %>
      <%= f.password_field :password, class: "form-control" %>
     </div>

     <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation", class: "control-label col-sm-1" %>
      <%= f.password_field :password_confirmation, class: "form-control" %> <br />
     </div>

      <%= f.submit "Create admin", class: "btn  btn-primary btn-default"
 %>
  <% end %>
   </div>
</div>
</div>
</div>
