<%= form_for(@message, url: (@message.new_record? ? admin_messages_path : admin_message_path(@message))) do |f| %>
  <% if @message.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h4>

          <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <% if @message.new_record? %>
      <div class="form-group">
        <%= f.label "产品" %>
        <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name), class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "用户:#{current_user.name}" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <% else %>

      <div class="form-group">
        <%= f.label "产品:#{@message.product.try(:name)}" %>
      </div>

      <div class="form-group">
        <%= f.label "用户:#{@message.user.try(:name)}" %>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.label :content,"留言内容:" %>
        <%= f.text_area :content, size: "50x6", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

