<%= form_for(@message, url: admin_message_path(@message), html: {class: "form-horizontal"}) do |f| %>
  <%= render "shared/error_messages", object: @message %>

  <div class="form-group">
    <%= f.label :messageable_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <p class="form-control-static">
        <%= @message.messageable_cn %>
      </p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :messageable_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <p class="form-control-static">
        <%= @message.messageable_name %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <p class="form-control-static">
        <%= @message.user.try(:name) %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :content, rows: 4, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "确认提交", class: 'btn btn-primary', data: { disable_with: "正在提交..." } %>
    </div>
  </div>
<% end %>

