<div class="page-header">
  <h2>
    留言管理
    <small class="pull-right"><%= link_to "创建新留言", new_admin_message_path, class: "btn btn-primary" %></small>
  </h2>
</div>

<%= render "message_nav_tabs" %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>留言内容</th>
      <th>产品</th>
      <th>评测</th>
      <th>用户</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content.truncate(15) %></td>
        <td><%= message.product.try(:name) %></td>
        <td><%= message.evaluate.try(:title) %></td>
        <td><%= message.user.try(:name) %></td>
        <td>
          <%= link_to "编辑", edit_admin_message_path(message), class: "btn btn-primary btn-sm" %>
          <%= link_to "删除", admin_message_path(message), class: "btn btn-danger btn-sm", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




