<div class="page-header">
  <h2>
    留言管理
    <small class="pull-right"><%= link_to "创建新留言", new_admin_message_path, class: "btn btn-primary" %></small>
  </h2>
</div>

<div class="row">
 <%= form_tag admin_messages_path, class: "form-inline", method: "get" do %>
  <div class="col-xs-2">
    <%= text_field_tag :content, params[:content], placeholder: "留言内容", class: "form-control" %>
  </div>
  <div class="col-xs-2">
    <%= text_field_tag :product, params[:product], placeholder: "产品", class: "form-control" %>
  </div>
  <div class="col-xs-2">
    <%= text_field_tag :evaluate, params[:evaluate], placeholder: "评测", class: "form-control" %>
  </div>
  <div class="col-xs-2">
    <%= text_field_tag :user, params[:user], placeholder: "用户", class: "form-control" %>
  </div>
  <div class="col-xs-1">
    <%= submit_tag "搜索", class: "btn btn-primary "%>
  </div>
    <% end %>
    <%= form_tag admin_messages_path, method: "get" do %>
      <div class="col-xs-1">
       <%= submit_tag "返回", class: "btn btn-primary "%>
      </div>
    <% end %>
</div>

<%= render "message_nav_tabs" %>

<%= paginate @messages %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>留言内容</th>
      <%= content_tag(:th, "产品") if params[:sort] == 'evaluate' || params[:sort].blank? %>
      <%= content_tag(:th, "评测") if params[:sort] == 'product' || params[:sort].blank? %>
      <th>用户</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content.truncate(15) %></td>
        <%= content_tag(:td, message.product.try(:name)) if params[:sort] == 'evaluate' || params[:sort].blank? %>
        <%= content_tag(:td, message.evaluate.try(:title)) if params[:sort] == 'product' || params[:sort].blank? %>
        <td><%= message.user.try(:name) %></td>
        <td>
          <%= link_to "编辑", edit_admin_message_path(message), class: "btn btn-primary btn-sm" %>
          <%= link_to "删除", admin_message_path(message, page: params[:page]), class: "btn btn-danger btn-sm", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @messages %>



