<div class="list-group-item active ">修改用户所有信息</div>
<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label "邮件" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "用户名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "密码" %>
        <%= f.password_field :password, class: "form-control" %>
        <% unless @user.new_record? %>
          <span class="help-block">如果不需要修改密码，请为空。</span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "密码确认" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
