<%= content_for :sidebar do %>
  <%= render 'layouts/shared/user_them' %>
<% end %> 

<div class="user_info_navbar menu_list">
  <ul class="list-inline">
    <li>
      <i class="fa fa-comment-o"></i>
    </li>
    <li class="active">
      <%= link_to "修改用户信息", edit_user_path(current_user) %>
    </li>
    <li> / </li>
    <li>
      <%= link_to "修改登录密码", change_password_user_path(current_user) %>
    </li>
  </ul>
</div>

<div class="user_edit_info">
  <div class="row">
    <%= form_for current_user, url: user_path, method: :patch, html: {class: "form-horizontal"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= label_tag(:email, "邮箱：", class: "col-sm-3 control-label") %>
        <div class="col-sm-8">
          <p class="form-control-static">
            <%= current_user.email %>
          </p>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:current_name, "用户名：", class: "col-sm-3 control-label") %>
        <div class="col-sm-8">
          <p class="form-control-static">
            <%= current_user.name %>
          </p>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:name, "请输入新用户名：", class: "col-sm-3 control-label") %>
        <div class="col-sm-7">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:password, "请输入密码：", class: "col-sm-3 control-label") %>
        <div class="col-sm-7">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <%= f.submit "提交修改", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
