<div class="user_info_navbar menu_list">
  <ul class="list-inline">
    <li>
      <i class="fa fa-comment-o"></i>
    <li class="active">评测</li>
    <br>
    <br>
    <div class="container">
      <% @evaluates.each do |evaluate| %>
        <%= link_to evaluate.title, product_evaluate_path(evaluate.product, evaluate) %>
      <br>
      <% end %>...
      <div>
        <%= link_to "点击查看更多评测！", show_evaluates_user_path(@user) %>
      </div>
    </div>
  </ul>
</div>

<div class="user_info_navbar menu_list">
  <ul class="list-inline">
    <li>
      <i class="glyphicon glyphicon-bookmark"></i>
    <li class="active">收藏</li>
    <br>
    <br>
    <div class="container">
      <% @collections.each do |collection| %>
        <%= link_to collection.name, collection %>
      <br>
      <% end %>...
      <div>
        <%= link_to "点击查看更多收藏！",  show_collections_user_path(@user) %>
      </div>
    </div>
  </ul>
</div>

<div class="user_info_navbar menu_list">
  <ul class="list-inline">
    <li>
      <i class="glyphicon glyphicon-user"></i>
    <li class="active">好友</li>
    <br>
    <br>
    <div class="container">
      <% @evaluates.each do |evaluate| %>
        <%= link_to evaluate.title, "#" %>
      <br>
      <% end %>...
      <div>
        <%= link_to "点击查看更多！", "#" %>
      </div>
    </div>
  </ul>
</div>
