<%= render "navbar" %>

<div id="product_items">
  <div class="row">
    <% @collections.each do |collection| %>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="item">
          <div class="product_thumbnail">
            <%= link_to image_tag(collection.cover.try(:picture_url, :mini)), collection %>
          </div>
          <div class="product_info">
            <h5>
              <%= link_to collection.name, collection %>
            </h5>
            <small>
              <%= collection.description.truncate(8) %>
            </small>
          </div>
          <% if current_user?(@user) %>
            <div class="caption">
              <%= link_to "取消收藏", product_collectionship_path(collection), data: { confirm: "请问您确定要取消收藏吗？" }, method: :delete, class: "btn btn-xs btn-danger" %>
            </div>
          <% end %>          
        </div>
      </div>
    <% end %>
  </div>
</div>
