<div id="about_product_select" class="menu_list">
  <ul class="list-inline">
    <li>
      <i class="fa fa-comment-o"></i>
    </li>
    <li class="<%= 'active' if params[:controller] == 'products' %>">
      <%= link_to "产品", @product %>
    </li>
    <li> / </li>
    <li class="<%= 'active' if params[:controller] == 'evaluates' %>">
      <%= link_to product_evaluates_path(product_id: @product) do %>
        评测
        <span class="badge badge_evaluate">
          <%= @product.evaluates_count %>
        </span>
      <% end %>
    </li>
    <li> / </li>
    <li class="<%= 'active' if params[:controller] == 'messages' %>">
      <%= link_to product_messages_path(@product) do %>
        留言
        <span class="badge badge_product">
          <%= @product.messages_count %>
        </span>
      <% end %>
    </li>
  </ul>
</div>
