<div class="page-header">
  <h2>
    产品图片管理
  </h2>
</div>
<%= paginate @product_pictures %>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>图片名称</th>
      <th>所属产品</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @product_pictures.each do |product_picture| %>
      <tr>
        <td></td>
        <td><%= product_picture.picture %></td>
        <td><%= product_picture.product.try(:name) %></td>
        <td>
          <%= link_to "查看图片", admin_product_picture_path(product_picture), class: "btn btn-primary btn-sm" %>
          <%= link_to "删除", admin_product_picture_path(product_picture, page: params[:page]), class: "btn btn-danger btn-sm", confirm: "请问您确定要删除吗？", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @product_pictures %>
