<div class="page-header">
  <h2>
    产品图片管理
  </h2>
</div>
<%= paginate @product_pictures %>
<div class="row">
  <%= form_tag admin_product_pictures_path, class: "form-inline", method: "get" do %>
    <div class="col-xs-2">
      <%= text_field_tag :product_key, params[:product_key], placeholder: "商品", class: "form-control" %>
    </div>
    <div class="col-xs-1">
      <%= submit_tag "搜索", class: "btn btn-primary "%>
    </div>
  <% end %>
  <%= link_to "返回", admin_product_pictures_path, class: "btn btn-primary" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>图片</th>
      <th>所属产品</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @product_pictures.each do |product_picture| %>
      <tr>
        <td><%= image_tag product_picture.picture_url(:mini) %></td>
        <td><%= product_picture.product.try(:name) %></td>
        <td>
          <%= link_to "删除", admin_product_picture_path(product_picture, page: params[:page]), class: "btn btn-danger btn-sm", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @product_pictures %>
