<div class="evaluate_item">
  <h4>
    <%= link_to evaluate.title, product_evaluate_path(@product, evaluate) %>
    <% if current_user?(evaluate.user) %>
    <small>
      <%= link_to edit_product_evaluate_path(@product, evaluate) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </small>
    <% end %>
  </h4>
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1">
      <%= link_to image_tag(evaluate.user.find_avatar.try(:picture_url, :cover)), user_path(evaluate.user) %>
    </div>
    <small>
      <%= link_to evaluate.user.try(:name), user_path(evaluate.user) %> /  
      <%= time_ago_in_words(evaluate.created_at) %>前发布
    </small>
  </div>
  <p class="evaluate_details_abbr">
    <%= markdown(evaluate.details.truncate(100)) %>
  </p>
</div>
