<div class="evaluate_item">
  <h4>
    <%= link_to evaluate.title, product_evaluate_path(@product, evaluate) %>
  </h4>
  <div class="media">
    <%= link_to user_picture_cover(evaluate.user.cover.try(:picture_url, :cover), "cover"), user_path(evaluate.user), class: "pull-left" %>
    <div class="media-body">
      <h5 class="media-heading">
        <%= link_to evaluate.user.try(:name), user_path(evaluate.user) %>
        <small>
          <%= time_ago_in_words(evaluate.created_at) %>前发布
        </small>
      </h5>
    </div>
  </div>
  <div class="evaluate_details_abbr">
    <%= sanitize(evaluate.details.truncate(100)) %>
  </div>
</div>
