<div class="row">
  <div class="col-md-3">
    <% if signed_in? %>
      <%= form_for(@message, url: create_message_product_evaluate_path(product: @product), method: :post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
      	  <%= f.text_area :content, size: "40x5", placeholder: "发表评论..." %>
        </div>
        <hr>
        <em>不超过140个字</em>
        <hr>
        <div class="actions">
          <%= f.submit "确认提交", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% else %>
      请<%= link_to "登录", "#sign_in_modal", "data-toggle" => "modal" %>后发表评论!
    <% end %>
  </div>
</div>
