<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="evaluate_item_info">
        <h3>
          <%= @evaluate.title %>
        </h3>
        <p>
          <%= link_to @evaluate.user.try(:name), "#" %> / 
          <i class="fa fa-clock-o"></i> 
          <%= @evaluate.created_at.strftime "%Y-%m-%d %H:%M:%S" %>
        </p>
        <hr>
        <p>
          <%= simple_format(@evaluate.details) %>
        </p>
        <hr>
        <div>
          <h3>
            <i class="fa fa-comment-o"></i>
            评论
            <small id="message_count_prompt">
              <%= render partial: "shared/message_count_prompt", locals: { feed_count: @evaluate.feed, messages: @messages } %>
            </small>
          </h3>
          <hr>
          <div id="all_messages">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
          <%= paginate @messages %>
          <%= render 'messages/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
