<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="evaluate_item_info">
        <h3>
          <%= @evaluate.title %>
        </h3>
        <div class="row">
          <div class= "col-md-1">
            <%= image_tag @evaluate.user.find_avatar.try(:picture_url, :cover) %>
          </div>
          <p>
            <%= link_to @evaluate.user.try(:name), "#" %> / 
            <i class="fa fa-clock-o"></i> 
            <%= @evaluate.created_at.strftime "%Y-%m-%d %H:%M:%S" %>
          </p>
          <% if current_user?(@evaluate.user) %>
            <small>
            <%= link_to fa_icon("pencil-square-o"), edit_product_evaluate_path(@evaluate.product, @evaluate) %>
           <%= link_to fa_icon("trash-o"),  product_evaluate_path(@evaluate.product, @evaluate), date: { confirm: "请问您确定要删除吗？" }, method: :delete %>
            </small>
          <% end %>
        </div>
        <hr>
        <p>
          <%= markdown(@evaluate.details) %>
        </p>
        <hr>
        <div>
          <h3>
            <i class="fa fa-comment-o"></i>
            评论
            <small id="message_count_prompt">
              <%= render partial: "shared/message_count_prompt", locals: { feed_count: @evaluate.messages_count, messages: @messages } %>
            </small>
          </h3>
          <hr>
          <div id="all_messages">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
          <%= paginate @messages %>
          <%= render 'messages/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
