<div class="row">
  <div class="col-lg-8">
    <%= render 'shared/product_head' %>
    <hr>
    <p>
      <i class="fa fa-quote-left"></i>
      <%= @evaluate.user.try(:name) %>
    </p>
    <hr>
    <p>
      <i class="fa fa-clock-o"></i> 
      创建时间： <%= @evaluate.created_at.strftime "%Y-%m-%d %H:%M:%S" %>
    </p>
    <hr>
    <p>
      <%= simple_format(@evaluate.details) %>
    </p>
    <hr>
    <div>
      <%= render 'messages_show' %>
      <hr>
      <%= render 'message_form' %>
    </div>
  </div>
  

  <div class="col-lg-4">
    <div class="well">
    </div>
  </div>
</div>
