<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product" class="container_box">
      <%= render 'shared/product_head' %>
      <div id="evaluate_item_info">
        <h3>
          <%= @evaluate.title %>
        </h3>
        <div class="media">
          <%= link_to user_picture_cover(@evaluate.user.cover.try(:picture_url, :cover), "cover"), user_path(@evaluate.user), class: "pull-left" %>
          <div class="media-body">
            <h5 class="media-heading">
              <%= link_to @evaluate.user.try(:name), user_path(@evaluate.user) %> 
              <small>
                <i class="fa fa-clock-o"></i> 
                <%= time_ago_in_words(@evaluate.created_at) %>前发布 ／ 
                <% if current_user?(@evaluate.user) %>
                  <%= link_to fa_icon("pencil-square-o"), edit_product_evaluate_path(@evaluate.product, @evaluate) %>
                  <%= link_to fa_icon("trash-o"),  product_evaluate_path(@evaluate.product, @evaluate), date: { confirm: "请问您确定要删除吗？" }, method: :delete %>
                <% end %>                
              </small>              
            </h5>
            <div id="like_link">                      
              <%= likeable_likes_tag @likeable %>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <%= sanitize(@evaluate.details) %>
        </div>
        <hr>
        <div>
          <h3>
            <i class="fa fa-comment-o"></i>
            评论
            <small id="message_count_prompt">
              <%= render partial: "shared/message_count_prompt", locals: { feed_count: @evaluate.messages_count, messages: @messages } %>
            </small>
          </h3>
          <hr>
          <div id="all_messages">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
          <%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
          <%= render 'messages/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
