<%= form_for(@product, url: (@product.new_record? ? admin_products_path : admin_product_path(@product)), html: { class: "form-horizontal" }) do |f| %>
  <%= render "shared/error_messages", object: @product %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :buy_link, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :buy_link, class: "form-control" %>
      <p class="help-block">http://或者https://开头</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_category_id, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.select :product_category_id, options_from_collection_for_select(ProductCategory.all, :id, :name), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :details, class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_area :details, class: "form-control rich_text_format" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <%= f.submit "确认提交", class: 'btn btn-primary', data: { disable_with: "正在提交..." } %>
    </div>
  </div>
<% end %>
