<%= form_for(@product, url: (@product.new_record? ? admin_products_path : admin_product_path(@product))) do |f| %>
  <% if @product.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <h4><%= pluralize(@product.errors.count, "error") %> prohibited this message from being saved:</h4>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_area :details, rows: 6, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :product_category_id, "产品类" %>
        <%= f.select :product_category_id, options_from_collection_for_select(ProductCategory.all, :id, :name), class: "form-control" %>
      </div>


      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
