<div class="page-header">
  <h2>
    产品管理
    <small class="pull-right"><%= link_to "创建新产品", new_admin_product_path, class: "btn btn-primary" %></small>
  </h2>
</div>
<div class="row">
  <%= form_tag admin_products_path, class: "form-inline", method: "get" do %>
    <div class="col-xs-2">
      <%= text_field_tag :keywords, params[:keywords], placeholder: "产品名称", class: "form-control" %>
    </div>
    <div class="col-xs-1">
      <%= text_field_tag :min_price, params[:min_price], placeholder: "最低价", class: "form-control" %>
    </div>
    <div class="col-xs-1">
      <%= text_field_tag :max_price, params[:max_price], placeholder: "最高价", class: "form-control" %>
    </div>
    <div class="col-xs-2">
      <%= select_tag :product_category_id, options_from_collection_for_select(ProductCategory.all, :id, :name, params[:product_category_id]), include_blank: true, class: "form-control" %>
    </div>
    <div class="col-xs-1">
      <%= submit_tag "搜索", class: "btn btn-primary "%>
    </div>
  <% end %>
  <%= link_to "返回", admin_products_path, class: "btn btn-primary" %>
</div>

<%= paginate @products %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>价格</th>
      <th>产品类</th>
      <th>发布时间</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.product_category.try(:name) %></td>
        <th><%= product.published_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></th>
        <td>
          <%= link_to "编辑", edit_admin_product_path(product), class: "btn btn-primary btn-sm" %>
          <%= link_to "删除", admin_product_path(product, page: params[:page]), class: "btn btn-danger btn-sm", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
