<%= render "add_product_picture_modal" %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">产品管理</p>
    <div class="list-group">
      <%= link_to "添加图片", "#add_product_picture_modal", class: "list-group-item",  "data-toggle" => "modal" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <div class="caption-full">
            <h4 class="pull-right">
              RMB <%= @product.price %>
            </h4>
            <h4>
              <i class="fa fa-glass"></i>
              <%= @product.name %>
            </h4>
            <p>
              <i class="fa fa-info-circle"></i>
              <%= @product.description %>
            </p>
            <hr>
            <p>
              <%= simple_format(@product.details) %>
            </p>
          </div>    
        </div>
      </div>
    </div>

    <div class="row">
      <hr>
      <% @product.product_pictures.each do |product_picture| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <%= image_tag product_picture.picture_url(:small) %>
            <div class="caption">
            <%= link_to "删除", destroy_product_picture_admin_product_path(product_picture), method: :delete, class: "btn btn-danger btn-xs" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

