<%= render "add_product_picture_modal" %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">产品管理</p>
    <div class="list-group">
      <%= link_to "添加图片", "#add_product_picture_modal", class: "list-group-item",  "data-toggle" => "modal" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <div class="caption-full">
            <h4 class="pull-right">
              RMB <%= @product.price %>
            </h4>
            <h4>
              <i class="fa fa-glass"></i>
              <%= @product.name %>
            </h4>
            <p>
              发布时间：
              <%= @product.published_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %> ／ 
              创建时间：
              <%= @product.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            </p>
            <p>
              购买链接：
              <%= link_to "点击查看", @product.buy_link, class: "btn btn-primary btn-xs", target: "_blank" %>
            </p>
            <p>
              <i class="fa fa-info-circle"></i>
              <%= @product.description %>
            </p>
            <hr>
            <p>
              <%= markdown(@product.details) %>
            </p>
          </div>    
        </div>
      </div>
    </div>

    <div class="row">
      <hr>
      <% @product.product_picture_feed.each do |product_picture| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="product_picture">
              <%= image_tag product_picture.picture_url(:small) %>
            </div>
            <div class="caption">
              <%= link_to_if @product.cover == product_picture, "已设为封面", "#", class: "btn btn-info btn-xs disabled" do %>
                <%= link_to "设置为封面", setting_cover_admin_product_path(cover_id: product_picture.id), class: "btn btn-info btn-xs", method: :patch %>
              <% end %>
              <%= link_to "删除", admin_product_picture_path(product_picture), class: "btn btn-danger btn-xs", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

