<%= form_for(@product_category, url: (@product_category.new_record? ? admin_product_categories_path : admin_product_category_path(@product_category)), html: {class: "form-horizontal"}) do |f| %>
  <%= render "shared/error_messages", object: @product_category %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "正在提交..." } %>
    </div>
  </div>
<% end %>
                
