<%= form_for(@product_category, url: (@product_category.new_record? ? admin_product_categories_path : admin_product_category_path(@product_category))) do |f| %>
  <%= render "shared/error_messages", object: @product_category %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
                
