<%= form_for(@user, url: (@user.new_record? ? admin_users_path : admin_user_path(@user))) do |f| %>
  <%= render "shared/error_messages", object: @user %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <% unless @user.new_record? %>
          <span class="help-block">如果不需要修改密码，请为空。</span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <hr>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
