<%= form_tag admin_users_path, class: "form-inline", method: "get" do %>
  <div class="form-group">
    <%= text_field_tag :email, params[:email], placeholder: "邮箱", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :name, params[:name], placeholder: "用户名", class: "form-control" %>
  </div>
  <%= submit_tag "搜索", class: "btn btn-primary "%>
  <%= link_to "返回", admin_users_path, class: "btn btn-default" %>
<% end %>
