<div class="page-header">
  <h2>
    用户管理
    <small class="pull-right">
      <% if can? :create, User %>
        <%= link_to "创建新用户", new_admin_user_path, class: "btn btn-primary" %>
      <% end %>
    </small>
  </h2>
</div>

<%= render "search_form" %>
<hr>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>邮箱</th>
      <th>名字</th>
      <th>角色</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.roles_cn %>
        <td>
          <% if can? :update, user %>
          <%= link_to "编辑", edit_admin_user_path(user), class: "btn btn-primary btn-sm" %>
          <% end %>
          <% if can? :destroy, user %>
          <%= link_to "删除", admin_user_path(user, page: params[:page]), class: "btn btn-danger btn-sm", data: { confirm: "请问您确定要删除吗？" }, method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
