
<% @evaluates.each do |evaluate| %>
  <div class="evaluate_item">
    <h4><%= link_to evaluate.title, product_evaluate_path(@product, evaluate) %></h4>
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1">
        <%= link_to image_tag(evaluate.user.find_avatar.try(:picture_url, :cover)), show_user_user_path(evaluate.user) %>
      </div>
      <small>
        <%= link_to evaluate.user.try(:name), show_user_user_path(evaluate.user) %> /  
        <%= time_ago_in_words(evaluate.created_at) %> 前发布
      </small>
    </div>
    <p class="evaluate_details_abbr"><%= simple_format(evaluate.details.truncate(100)) %></p>
  </div>
<% end %>