<div class="message_item">
  <p>
    <%= link_to message.user.try(:name), "#" %>    
    <small>  
      <%= time_ago_in_words(message.created_at) %> 前发布
    </small>
  </p>
  <div>
    <%= simple_format(message.content) %>
    <% if current_user?(message.user) %>
      <%= link_to "修改", edit_message_product_path(message_id: message) %>
      <%= link_to "删除", destroy_message_product_path(message_id: message), method: :delete %>
    <% end %>
  </div>
</div>
