<div class="row">
  <div class="col-xs-12 col-md-12">
    <div id="products_sort" class="menu_list container_box">
      <div class="navbar_menu">
        <ul class="list-inline">
          <li>
            <i class="fa fa-sitemap"></i>
            分类：
          </li>
          <li class="<%= 'active' if params[:category].blank? %>">
            <%= link_to "全部", sort: params[:sort] %>
          </li>
          <% @product_categories.each do |product_category| %>
            <li> / </li>
            <li class="<%= 'active' if params[:category] == product_category.id.to_s %>">
              <%= link_to product_category.name, params.merge(category: product_category.id) %>
            </li>
          <% end %>
        </ul>
        <ul class="list-inline">
          <li>
            <i class="fa fa-sort-amount-desc"></i>
            排序：
          </li>
          <li class="<%= 'active' if params[:sort].blank? %>">
            <%= link_to "默认排序", category: params[:category] %>
          </li>
          <li> / </li>
          <li class="<%= 'active' if params[:sort] == 'price' %>">
            <%= sortable "price", "价格" %>
          </li>
          <li> / </li>
          <li class="<%= 'active' if params[:sort] == 'published_at' %>">
            <%= sortable "published_at", "上架时间" %>
          </li>
        </ul>
      </div>
      <p>根据您的需求或者喜好进行排序。</p>
    </div>
  </div>
</div>
