<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="product_info">
        <div class="product_container">
          <h3 class="product_name">
            <i class="fa fa-info-circle"></i>
            <%= @product.name %>
          </h3>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="product_pictures">
                <%= render "carousel_slide" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
              <div class="product_description">
                <ul class="list-unstyled">
                  <li class="border_bottom">
                    <label>价格</label>
                    <strong>¥ <%= @product.price %></strong>
                  </li>
                  <li class="border_bottom">
                    <label>创建时间</label>
                    <span><%= @product.published_at.strftime "%Y-%m-%d %H:%M:%S" %></span>
                  </li>
                  <li class="border_bottom">
                    <label>产品描述</label>
                    <span><%= @product.description %></span>
                  </li>
                  <li>
                    <%= link_to_if @product.buy_link.present?, raw("<i class='fa fa-shopping-cart'></i>购买"), @product.buy_link, class: "btn btn-primary", target: "_blank" do %>
                      <%= link_to "暂不提供购买", "#", class: "btn btn-default disabled" %>
                    <% end %>
                  </li>
                  <li>
                    <div id="like_link">                      
                      <%= likeable_likes_tag @likeable %>
                    </div>
                    <div id="collect_link">
                      <%= product_collection_tag @product %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= markdown(@product.details) %>
            </div>
          </div>
        </div>
        <hr>
        <h3>
          <i class="fa fa-bullseye"></i>
          评测<small><%= @evaluates.any? ? "" : " ( 暂无评测 ) " %></small>
        </h3>
        <hr>
        <div class="limit_evaluates">
          <%= render partial: 'evaluates/evaluate', collection: @evaluates %>
        </div>
        <div class="messages_container">
          <h3>
            <i class="fa fa-comment-o"></i>
            评论
            <small id="message_count_prompt">
              <%= render partial: "shared/message_count_prompt", locals: { feed_count: @product.messages_count, messages: @messages } %>
            </small>
          </h3>
          <hr>
          <div id="all_messages">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
          <%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
          <%= render 'messages/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
