<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Giggle Admin", admin_root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "产品管理", admin_products_path %></li>
        <li><%= link_to "图片管理", admin_product_pictures_path %></li>
        <li><%= link_to "留言管理", admin_messages_path %></li>
        <li><%= link_to "产品评测管理", admin_evaluates_path %></li>
        <li><%= link_to "产品分类管理", admin_product_categories_path %></li>
        <li><%= link_to "用户管理", admin_users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "返回前台", root_path %></li>
        <li><%= link_to "退出", session_path, method: "delete" %></li>
      </ul>
    </div>
  </div>
</div>
