<li>
  <div class="dropdown">
    <%= link_to "notifications", notifications_path %>
  <%= link_to "#", "data-toggle"=>"dropdown" do %>
    您好，
    <%= current_user.name %> 
    <i class="fa fa-caret-down"></i>
  <% end %>
  <ul id="user_navbar_dropdown" class="dropdown-menu">
    <li>
      <%= link_to "个人信息", current_user %>
    </li>
    <li>
      <%= link_to "修改个人信息", edit_account_path %>
    </li>
    <% if current_user.is?(:admin) || current_user.is?(:manager) %>
    <li>
      <%= link_to "后台管理", admin_root_path %>
    </li>
    <% end %>
  </ul>
</li>
<li> / </li>
<li>
  <%= link_to session_path, method: "delete" do %>
    <i class="fa fa-sign-out"></i>
    登出
  <% end %>
</li>
