<div id="navbar" class="row">
  <div class="col-md-12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand logo_text" do %>
        <h4 class="pull-left">
          Giggle
          <br>
          Free
        </h4>
      <% end %>
    </div>

    <div class="main_nav navbar-collapse navbar-ex1-collapse collapse">
      <ul class="navigation list-inline pull-right">
        <% if signed_in? %>
          <%= render "layouts/navbar/success_sign_in_navbar" %>
        <% else %>
          <li>
            <%= link_to "#sign_in_modal", "data-toggle" => "modal" do %>
              <i class="fa fa-sign-in"></i>
              登入
            <% end %>
          </li>
          <li>
            <%= link_to sign_up_path do %>
              <i class="fa fa-users"></i>
              注册
            <% end %>
          </li>
          <%= render "layouts/shared/sign_in_modal" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
