<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar/admin_navbar" %>
  <div class="container">
   <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
   <% end %>
    <%= yield %>
    <hr>
    <footer>
      <p>© Giggle 2013</p>
    </footer>
  </div>
</body>
</html>
