<!DOCTYPE html>
<html>
<head>
  <title>Giggle Admin</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <meta name="renderer" content="webkit">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar/admin_navbar" %>
  <div class="container">
    <%= render "layouts/shared/flash_notice" %>
    <%= yield %>
    <hr>
    <footer>
      <p>
        <span>
          Copyright 2014 ©
        </span> 
        <%= link_to "Giggle", "https://github.com/minnowlab/giggle", target: "_blank" %>
      </p>
    </footer>
  </div>
</body>
</html>
