<!DOCTYPE html>
<html>
<head>
  <title>Giggle Admin</title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar/admin_navbar" %>
  <div class="container">
    <%= render "layouts/shared/flash_notice" %>
    <%= yield %>
    <hr>
    <footer>
      <p>© Giggle 2013</p>
    </footer>
  </div>
</body>
</html>
