<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <%= render "layouts/navbar/user_navbar" %>
    <%= yield %>
  </div>

  <hr>
  <div class="text-center">
    Copyright 2013 © MinNowlab
  </div>
</body>
</html>
