<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="renderer" content="webkit">
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <%= render "layouts/navbar/user_navbar" %>
    <%= yield %>
  

    <hr>
    <div>
      <p class="copyright pull-right">
        <span>
          Copyright 2014 © 
          <%= link_to "Giggle", "https://github.com/JeskTop/giggle", target: "_blank" %>
        </span> 
      </p>
    </div>
  </div>
</body>
</html>
