<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/navbar/user_navbar" %>
    <%= render "layouts/shared/flash_notice" %>
    <div class="row">
      <div class="col-xs-12 col-md-3", id="sidebar">
        <div id="user_picture">
          <div class="user_picture">
            <%= image_tag @user.find_avatar.try(:picture_url, :mini), class: "img-rounded" %>
          </div>
          <h5>
            <%= @user.name %>
          </h5>
        </div>
        <%= yield :sidebar %>
      </div>
      <div class="col-xs-12 col-md-9">
        <div id="user_container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    Copyright 2013 © MinNowlab
  </div>
</body>
</html>

