<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/navbar/user_navbar" %>
    <%= render "layouts/shared/flash_notice" %>
    <div class="row">
      <div class="col-xs-12 col-md-3", id="sidebar">
        <div id="user_picture" class="container_box">
          <div class="user_picture">
            <%= user_picture_cover(@user.cover.try(:picture_url, :small), "small", class: "img-rounded") %>
          </div>
          <h5>
            <%= @user.name %>
          </h5>
          <blockquote>
            <small>
              <%= @user.description %>
            </small>
          </blockquote>
        </div>
        <%= yield :sidebar %>
      </div>
      <div class="col-xs-12 col-md-9">
        <div id="user_container" class="container_box">
          <%= yield %>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <p class="copyright pull-right">
        <span>
          Copyright 2014 © 
          <%= link_to "Giggle", "https://github.com/JeskTop/giggle", target: "_blank" %>
        </span> 
      </p>
    </div>
  </div>
</body>
</html>

