<!DOCTYPE html>
<html>
<head>
  <title>Giggle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/navbar/user_navbar" %>
    <%= render "layouts/shared/flash_notice" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-md-2"><%= render "layouts/shared/user_them" %></td>
              <td class="col-md-5"><%= yield %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>