<%= content_for :sidebar do %>
  <%= render 'layouts/shared/user_them' %>
<% end %> 

<%= render "account_edit_navbar" %>

<div class="user_edit_info">
  <%= form_for @user, url: update_password_account_path, method: :patch, html: {class: "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :old_password, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.password_field :old_password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
      <div class="col-sm-7">
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <span class="help-block">请再次填写新密码</span>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <%= f.submit "提交修改", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
